version: 2.1

jobs:
  build:
    docker:
      - image: python:3.8
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install -r requirements.txt
      - run:
          name: Run tests
          command: pytest Data-Pipeline-CI-activity/test_suite_linear_fit.py Continuous-Integration-activity/test_Suite_alternative.py

workflows:
  version: 2
  build:
    jobs:
      - build
